@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
    margin: 3rem auto;
}
header .logo img{
    width: 10vw;
}
nav{
    display: flex;
    align-items: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #101010;
    margin: 0 0.5rem;
    padding: 1rem 1.5rem;
    letter-spacing: 0.15rem;
}
.booktrip-btn{
    border: none;
    background-color: transparent;
}
.booktrip-btn button{
    border: none;
    color: white;
    background-color: #101010;
    border-radius: 2rem;
    padding: 0.8rem 2.5rem;
    cursor: pointer;
    letter-spacing: 0.05rem;
    font-size: 1rem;
}
.upfold{
    margin: 0 auto;
    position: relative;
    width: 90vw;
}
.flight{
    position: absolute;
    top: 5vh;
    right: -5vw;
    width: 65vw;
    overflow: hidden;
    z-index: 1;
}
.flight img{
    object-fit: contain;
    width: 75vw;
}
.slider{
    margin: 0;
    position: relative;
}
.slidershape{
    -webkit-mask-image: url(images/slider-shape@2x.png);
    mask-image:  url(images/slider-shape@2x.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: top;
            mask-position: top;
    -webkit-mask-size: contain;
            mask-size: contain;
    overflow: hidden;
}
.slidershape img{
    width: 90vw;
    overflow: hidden;
}
.carouselcontainer{
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.carouselnavigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -30rem;
    margin-right: 61rem;
}
.carouselnavigation .circle{
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    position: relative;
    color: #ffffff;
    font-weight: bold;
}
.carouselnavigation .circle:hover{
    background-color: #fff;
    color: #2A86FF;
    transition: 0.3s ease;
}
.carouselnavigation .line{
    width: 2px;
    height: 7.3rem;
    background-color: #fff;
}
.carouselslide{
    display: none;
    height: 100%;
    width: 100%;
}
.slidercarouseltext{
    position: absolute;
    top: 22.8vh;
    left: 13vw;
    height: 28vw;
}
.slidercarouseltext h4{
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}
.slidercarouseltext h1{
    font-size: 5rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.carouselcontentbuttons{
    display: flex;
    border: none;
    margin-top: 1rem;
    background-color: transparent;
}
.carouselcontentbuttons .tripbtn{
    border: none;
    color: #ffffff;
    background-color: #2A86FF;
    padding: 0.938rem;
    border-radius: 3.125rem;
    width: 11.25rem;
    letter-spacing: 0.063rem;
    cursor: pointer;
}
.carouselcontentbuttons .playbtn{
    border: none;
    position: relative;
    background-color: #ffffff;
    left: 0.938rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.125rem;
    cursor: pointer;
}
.carouselcontentbuttons .playbtn-image{
    display: flex;
    position: relative;
    margin: auto;
    height: 1.188rem;
    width: 1.188rem;
}
.slidershape2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 75.2vh;
    width: 29vw;
    height: 25vh;
}
.slidershape2 button{
    border: none;
    background-color: transparent;
    font-size: 1.25rem;
    position: absolute;
    top: 1.25rem;
    right: 8.125rem;
    font-weight: 600;
}
.slidershape2 button::after{
    content: "";
    position: absolute;
    background-image: url(images/arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2vw;
    height: 2vh;
    right: -6.25rem;
    top: 1.4vh;
    z-index: 1;
}
.slidershape2 .ss2img{
    filter: grayscale(100%) brightness(95%);
    height: 100%;
    width: 23rem;
}
.slidershape2imagetext{
    display: flex;
    width: 26vw;
    margin: -5.05rem 0.4rem;
    z-index: 1;
}
.slidershape2image{
    display: flex;
    margin-right: 1vw;
}
.slidershape2image img{
    width: 4.063rem;
    height: 4.063rem;
    border: 0.3rem solid #F9F9FB;
    border-radius: 3rem;
    margin-left: -0.5rem;
    position: relative;
    z-index: 1;
}
.slidershape2text{
    margin-left: 0.625rem;
}
.slidershape2text p{
    width: 9.375rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #768396;
    font-weight: 900;
    margin: -0.625rem -0.938rem;
    letter-spacing: 0;
    text-transform: capitalize;
}
.slidershape2text p strong{
    color: #0F0F0F;
    font-size: 0.938rem;
    line-height: 2rem;
}
.sponsorships{
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin: 10vh auto;
    position: relative;
    top: 13vh;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    border: 1px solid lightgray;
    border-radius: 3.125rem;
}
.socialmedia h4{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    font-weight: normal;
    color: #768396;
}
.socialmediaicons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}
.socialmediaicons a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.8rem;
    border-radius: 2rem;
    background: transparent;
    transition-duration: 0.5s;
}
.socialmediaicons a img{
    width: 0.7rem;
    height: 0.7rem;
    fill: #0F0F0F;
}
.socialmediaicons a:hover{
    border: none;
}
.socialmediaicons a:hover img{
    filter: brightness(0) saturate(100%) invert(83%) sepia(87%) saturate(49%) hue-rotate(83deg) brightness(116%) contrast(94%);
}
.socialmediaicons a:first-child:hover{
    background: #2A86FF;
}
.socialmediaicons a:nth-child(2):hover{
    background: rgb(29, 161, 242);
}
.socialmediaicons a:nth-child(3):hover{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.socialmediaicons a:nth-child(4):hover{
    background: rgb(62, 44, 0);
}
.sponsors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 7vw;
    flex-grow: 1;
}
.sponsors a{
    filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 0.2s;
}
.sponsors a:hover{
    filter: grayscale(0%);
}
.sponsors a img{
    width: 8rem;
}
.row{
    width: 80vw;
    position: relative;
    margin: 5rem auto;
    top: 12vh;

}
.owl-carousel .owl-wrapper:after{
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    line-height: 0;
}
.owl-carousel{
    position: relative;
    display: none;
    width: 100%;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    position: relative;
    display: none;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
    float: left;
}
.owl-controls{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.owl-fade-out{
    z-index: 10;
    -webkit-animation: fadeOut .7s both ease;
    -moz-animation: fadeOut .7s both ease;
    animation: fadeOut .7s both ease;
}
.owl-fade-in{
    -webkit-animation: fadeIn .7s both ease;
    -moz-animation: fadeIn .7s both ease;
    animation: fadeIn .7s both ease;
}
.owl-backSlide-out{
    -webkit-animation: backSlideOut 1s both ease;
    -moz-animation: backSlideOut 1s both ease;
    animation: backSlideOut 1s both ease;
}
.owl-backSlide-in{
    -webkit-animation: backSlideIn 1s both ease;
    -moz-animation: backSlideIn 1s both ease;
    animation: backSlideIn 1s both ease;
}
.owl-goDown-out{
    -webkit-animation: scaleToFade .7s ease both;
    -moz-animation: scaleToFade .7s ease both;
    animation: scaleToFade .7s ease both;
}
.owl-goDown-in{
    -webkit-animation: goDown .6s ease both;
    -moz-animation: goDown .6s ease both;
    animation: goDown .6s ease both;
}
.owl-fadeUp-in{
    -webkit-animation: scaleUpFrom .5s ease both;
    -moz-animation: scaleUpFrom .5s ease both;
    animation: scaleUpFrom .5s ease both;
}
.section3header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.section3header .header h1{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 1vh;
}
.section3header .header p{
    font-size: 1.1rem;
    font-weight: 200;
    color: #768396;
    line-height: 1.8rem;
}
.section3carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8.5vw;
    justify-content: space-between;
}
.section3carousel button{
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    border: none;
}
.section3carousel button:hover{
    background-color: #0F0F0F;
}
.section3carousel button:hover img{
    filter: invert(100%);
}
.item{
    margin: 0.5rem 0.625rem;
    background: #fff;
}
.item img {
    width: 150%;
    height: 100%;
    border-radius: 2rem;
}
.slidertext{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.slidertext h3{
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
}
.slidertext h5{
    position: relative;
    margin-top: 0.3rem;
    margin-left: 1.5rem;
    font-weight: 300;
    font-size: 1rem;
    color: #768396;
}
.slidertext h5::before{
    content: "";
    position: absolute;
    background-image: url(images/location_solid.svg);
    background-size: 0.7rem;
    background-repeat: no-repeat;
    background-position: 0 0.2rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    left: -1.5rem;
}
.carouselrating{
    display: flex;
    flex-direction: row;
    background-color: #2A86FF;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    width: 5rem;
    margin: -1.5rem 14rem;
    position: relative;
    bottom: 1.5rem;
    left: 0.5rem;
}
.carouselrating img{
    width: 1rem;
    filter: invert(100%);
    margin: 0 0.5rem;
    margin-left: -0rem;
}
.carouselrating h5{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
}
.hoverfx{
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
  }
.hoverfx img{
    position: absolute;
    left: 0;
    width: 100%;
}
.hoverfx::before{
    display: inline-block;
    padding-top: 60%;
    content: '';
    vertical-align: middle;
}
.hoverfx .figure{
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    max-width: 60%;
    border: 3px solid #E9E9E9;
    color: #ECF0F1;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition-property: all .3s ease;
}
.hoverfx .overlay{
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 50%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition-property: all .3s ease;
}
.section4{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 25vh auto;
    position: relative;
    top: 1vh;
}
.section4header{
    text-align: center;
}
.section4header h1{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5vh;
}
.section4header p{
    font-size: 1.1rem;
    font-weight: 200;
    color: #768396;
    line-height: 1.8rem;
    margin: 0 20vw;
}
.section4 ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 82vh;
}
.section4 ul li{
    background-color: #f9f9fb;
    padding: 3.415rem;
    width: 28.43rem;
    height: 15rem;
    border-radius: 3rem 3rem 3rem 3rem;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, height 1s, transform 0.3s ease, box-shadow 0.3s ease;
}
.section4 ul li h3{
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.3s ease;
}
.section4 ul li p, .section4 ul li button{
    display: none;
    transition: opacity 0.3s ease;
}
.section4 ul li p{
    font-weight: 200;
    line-height: 1.8rem;
}
.section4 ul li button{
    font-size: 1.1rem;
    position: relative;
}
.section4 ul li button::after{
    content: "";
    position: absolute;
    width: 0.55rem;
    height: 0.9rem;
    background-image: url(images/line-arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1.5rem;
    margin-top: 0.2rem;
    filter: brightness(0) saturate(100%) invert(83%) sepia(87%) saturate(49%) hue-rotate(83deg) brightness(116%) contrast(94%);
}
.section4 ul li:nth-child(1){
    border-radius: 3rem 3rem 0 3rem;
}
.section4 ul li:nth-child(2){
    border-radius: 3rem 3rem 0 0;
}
.section4 ul li:nth-child(3){
    border-radius: 3rem 3rem 3rem 0;
}
.section4 ul li .infoboxicon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 2rem;
    margin-bottom: 1.438rem;
}
.section4 ul li .infoboxicon img{
    width: 1.563rem;
    filter: brightness(0) saturate(100%) invert(42%) sepia(97%) saturate(2073%) hue-rotate(202deg) brightness(99%) contrast(99%);
}
.section4 ul li.active, .section4 ul li:hover{
    background-color: #2A86FF;
    height: 29rem;
}
.section4 ul li.active h3, .section4 ul li:hover h3{
    color: white;
    margin-bottom: 1.438rem;
}
.section4 ul li.active p, .section4 ul li.active button, .section4 ul li:hover p, .section4 ul li:hover button{
    display: block;
    color: white;
    opacity: 1;
}
.section4 ul li.active button, .section4 ul li:hover button{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    margin-top: 5vh;
}
.infoboximage{
    display: none;
}
.section4 ul li.active .infoboximage, .section4 ul li:hover .infoboximage{
    display: block;
    position: absolute;
    width: 11.063rem;
    top: 0;
    right: 0;
    border-radius: 0 3rem 0 0;
}
.section4 ul li.active .infoboxicon, .section4 ul li:hover .infoboxicon{
    background-color: transparent;
    border: 1px solid white;
}
.section4 ul li.active .infoboxicon img, .section4 ul li:hover .infoboxicon img{
    filter: brightness(0) saturate(100%) invert(83%) sepia(87%) saturate(49%) hue-rotate(83deg) brightness(116%) contrast(94%);
}
.section5{
    width: 80vw;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section5-a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}
.section5-a img{
    width: 28vw;
    border-radius: 2rem;
}
.section5-a ul{
    display: flex;
    flex-direction: column;
    margin-left: 4.5vw;
}
.section5-a ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5vh 0;
}
.section5-a ul li h1{
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.section5-a ul li p{
    margin-left: 1vw;
    line-height: 2rem;
    color: #768396;
}
.section5-a ul li:nth-child(3) p{
    margin-left: 0;
    margin-right: 1vw;
}
.section5-b{
    display: flex;
    flex-direction: row;
}
.section5-b .offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 27vw;
    height: 16vh;
    background-color: #F9F9FB;
    border-radius: 2rem;
}
.section5-b .offer h2{
    font-size: 2.7rem;
    font-weight: 500;
    color: #2A86FF;
}
.section5-b .offer p{
    width: 10vw;
    margin-left: 1vw;
    color: #768396;
}
.section5-b button{
    position: relative;
    width: 55vw;
    border-radius: 2rem;
    border: none;
    background-image: url(images/sky.jpg);
    background-position: center;
}
.section5-b button h1{
    font-size: 2.2rem;
    font-weight: 400;
}
.section5-b button h1::after{
    position: absolute;
    content: "";
    background-image: url(images/arrow-right.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.6rem;
    margin-left: 2rem;
    margin-top: 0.6rem;
}
.section6{
    width: 80vw;
    margin: 0 auto;
}
.section6details{
    display: flex;
    flex-direction: row;
}
.section6header{
    display: flex;
    flex-direction: row;
    margin-right: 13vw;
}
.section6header h4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #F9F9FB;
    height: 5rem;
    width: 13rem;
    border-radius: 3rem;
}
.section6moredetails{
    display: flex;
    flex-direction: column;
}
.section6moredetails h3{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: normal;
}
.section6moredetails ul{
    display: flex;
    margin-top: 2rem;
}
.section6moredetails ul li{
    padding: 0.1rem 0 0.1rem 2rem;
    border-left: 5px solid #2A86FF;
    margin-left: 16px;
    list-style-type: none;
}
.section6moredetails ul li:first-child{
    margin-left: 0;
}
.section6moredetails ul li p{
    font-size: 1.2rem;
    font-weight: 200;
    color: #768396;
    line-height: 1.8rem;
}
.section6-b-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.section6-b-details li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9F9FB;
    height: 28rem;
    width: 28rem;
    border-radius: 7rem;
}
.section6-b-details li h1{
    font-size: 9rem;
    font-weight: normal;
    color: #2A86FF;
}
.section6-b-details li h3{
    font-size: 1.9rem;
    font-weight: 300;
}
.section7{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 10vh auto;
}
.section7header{
    text-align: center;
}
.section7header h1{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 1vh;
}
.section7header p{
    font-size: 1.1rem;
    font-weight: 200;
    color: #768396;
    line-height: 1.8rem;
    letter-spacing: 0;
    margin: 0 20vw;
}
.section7 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.section7 ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 4rem;
    text-align: center;
}
.section7 ul li .s7image{
    width: 5rem;
    height: 5rem;
    background-color: #F9F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}
.section7 ul li .s7image img{
    width: 2rem;
    filter: brightness(0) saturate(100%) invert(42%) sepia(97%) saturate(2073%) hue-rotate(202deg) brightness(99%) contrast(99%);
}
.section7 ul li h2{
    font-size: 1.7rem;
    margin: 2rem 5rem 2rem;
    font-weight: 600;
}
.section7 ul li p{
    font-size: 1.2rem;
    width: 300px;
    font-weight: 200;
    color: #768396;
    line-height: 1.8rem;
    letter-spacing: 0;
}
.section8{
    width: 80vw;
    margin: 10vh auto;
}
.section8header{
    text-align: center;
    margin-top: 15vh;
}
.section8header h1{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 1vh;
}
.section8 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
}
.section8 ul li{
    flex-grow: 1;
    background-color: #f9f9fb;
    margin-right: 2rem;
    border-radius: 3rem;
    transition: background-color 0.5s;
    list-style-type: none;
}
.section8 .review{
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    background-color: white;
    padding: 3rem 3rem 0 3rem;
    border-radius: 2.8rem;
}
.section8 ul li:hover{
    background-color: #2A86FF;
    color: white;
}
.section8 ul li:hover .customerprofile, .section8 ul li:hover .customerdetails p{
    color: white;
}
.section8 .review img{
    width: 1.5rem;
    margin-right: 0.5rem;
    filter: brightness(0) saturate(100%) invert(42%) sepia(97%) saturate(2073%) hue-rotate(202deg) brightness(99%) contrast(99%);
}
.section8 .review p{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 200;
    color: #768396;
    line-height: 1.8rem;
    margin: 2rem 0 3rem;
}
.customerprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 0 4vh -5vw;
}
.customerprofile img{
    width: 5rem;
    border-radius: 3rem;
    margin-right: 1rem;
}
.customerdetails{
    display: flex;
    flex-direction: column;
}
.customerdetails span{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.customerdetails p{
    font-size: 1.2rem;
    font-weight: 200;
    color: #768396;
    line-height: 1.8rem;
}
.section9{
    margin: 10vh auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section9 img{
    width: 12vw;
    border-radius: 10rem;
}
.section9 h2{
    width: 30vw;
    margin-left: 2rem;
    margin-right: 2rem;
}
.section9 .rotator{
    width: 10vw;
    position: relative;
}
.rotator .animation1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateRight 10s linear infinite;
}
@keyframes rotateRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotator .animation2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    animation: rotateLeft 10s linear infinite;
}
@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.rotator .animation2 img{
    width: 2rem;
    border-radius: 0;
}
.section9 p{
    font-size: 1.1rem;
    font-weight: 200;
    color: #768396;
    line-height: 1.8rem;
    letter-spacing: 0;
    width: 30vw;
    margin-left: 2rem;
    margin-right: 2rem;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #f9f9fb;
}
.footerinformation{
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    width: 80vw;
}
.footerlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.info1{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 13vw;
}
.info1 img{
    width: 10vw;
    margin-bottom: 1rem;
}
.info1 p{
    font-size: 1.1rem;
    font-weight: 200;
    color: #768396;
    line-height: 1.8rem;
}
.footersocialmediaicons{
    width: 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}
.footersocialmediaicons a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F0F1F5;
    height: 2rem;
    width: 2rem;
    margin-right: 0.8rem;
    border-radius: 2rem;
    background: transparent;
    transition-duration: 0.5s;
}
.footersocialmediaicons a img{
    height: 0.8rem;
    width: 0.8rem;
    fill: #0F0F0F;
    margin: auto;
}
.footersocialmediaicons a:hover img{
    filter: brightness(0) saturate(100%) invert(83%) sepia(87%) saturate(49%) hue-rotate(83deg) brightness(116%) contrast(94%);
}
.footersocialmediaicons a:first-child:hover{
    background: #2A86FF;
}
.footersocialmediaicons a:nth-child(2):hover{
    background: rgb(29, 161, 242);
}
.footersocialmediaicons a:nth-child(3):hover{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.footersocialmediaicons a:nth-child(4):hover{
    background: rgb(62, 44, 0);
}
.info3{
    display: flex;
    flex-direction: column;
}
.info3 h2{
    margin-bottom: 1rem;
    color: #0F0F0F;
    font-weight: 500;
}
.info3 .info3links{
    display: flex;
    flex-direction: column;
}
.info3 .info3links a{
    text-decoration: none;
    color: #0F0F0F;
    margin: 0.3rem 0;
}
.footerlastsection{
    border-top: 2px solid #F0F1F5;
}
.lastsectiondetails{
    text-align: center;
    margin: 3vh auto;
}
.lastsectiondetails span{
    color: #768396;
}
.info3links a:hover{
    color: #768396;
}